/* index主页专用的样式 */

/* 头部header区域 */
.header .banner{
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
    width: 100%;
    height: 360px;
    margin-bottom: 12px;
    /* background-color: pink; */
}

/* 头部左侧 */
.header .banner .banner_left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 1;
}

.header .banner .banner_left > ul > li{
    position: relative;
    width: 200px;
    height: 34px;
    padding: 0 12px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
}

.header .banner .banner_left > ul > li:hover{
    background-color: #e5f9ee;
    overflow:visible;
}
.header .banner .banner_left > ul > li:hover a,
.header .banner .banner_left > ul > li:hover span{
    color: #00cc7e;
}

.header .banner .banner_left > ul > li > a{
    color: #333;
    font-size: 14px;
    line-height: 34px;
    font-weight: 500;
    margin-right: 8px;
    transition: all 0.3s;
}

.header .banner .banner_left > ul > li > span{
    line-height: 17px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.header .banner .banner_left > ul > li > span > a{
    color: #999;
    transition: all 0.3s;
}

.header .banner .banner_left > ul > li a:hover{
    text-decoration: underline;
}

.header .banner .banner_left > ul > li > div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 43px;
    color: #999;
    font-size: 19px;
    font-family: "iconfont";
    font-weight: 600;
}

/* 头部右侧 */
.header .banner .banner_right{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 200px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.header .banner .banner_right > .user{
    position: absolute;
    top: 28px;
    border-radius: 50%;
}

.header .banner .banner_right > .user > a > img{
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

.header .banner .banner_right > .name{
    position: absolute;
    top: 112px;
    font-size: 16px;
    color: #111;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .banner .banner_right > .recent_course{
    position: absolute;
    top: 168px;
    display: flex;
    flex-flow: column nowrap;
    width: 168px;
    height: 100px;
    /* background-color: pink; */
}

.header .banner .banner_right > .recent_course > span{
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 24px;
}

.header .banner .banner_right > .recent_course > span > a{
    color: rgb(102, 102, 102);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .banner .banner_right > .my_course{
    position: absolute;
    top: 290px;
    width: 168px;
    height: 32px;
    border-radius: 18px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    
    background-color: #00cc7e;
    transition: all 0.3s;
}

.header .banner .banner_right > .my_course > a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.header .banner .banner_right > .recent_course > span:hover a{
    color: #00b36e;
}
.header .banner .banner_right > .my_course:hover{
    background-color: #00b36e;
}



/* 学校school区域 */
.school{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    height: 60px;
    margin-bottom: 45px;
    background-color: #fff;
    border-radius: 8px;
}

.school .school_left{
    width: 170px;
    height: 60px;
    /* background-color: skyblue; */
    margin-left: 20px;
}

.school .school_left > a{
    position: relative;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 60px;
    text-align: left;
}

.school .school_left > a > span{
    position: absolute;
    right: -20px;
    font-family: "iconfont";
    color: #ccc;
    font-size: 24px;
}

.school .school_right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1010px;
    height: 60px;
    /* background-color: skyblue; */
    padding: 0 43px 0 22px;
}

.school .school_right > .school_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 60px;
    background-color: #fff;
}

.school .school_right > .school_logo > a > img{
    width: 110px;
    height: 31px;
    object-fit: cover;
}



/* 直播live区域 */
.live{
    position: relative;
    height: 306px;
    /* background-color: pink; */
}

.live .live_top{
    height: 54px;
    /* background-color: skyblue; */
}

.live .live_top > h1{
    display: inline-block;
    font-size: 24px;
    color: #333;
    margin: 0 40px 18px 0;
    font-weight: 500;
}

.live .live_top > span{
    position: relative;
    display: inline-block;
    margin-right: 32px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000000A6;
    line-height: 22px;
}

.live .live_top > span:nth-of-type(1){
    color: #00cc7e;
}

.live .live_top > span:nth-of-type(1)::after{
    position: absolute;
    right: 0;
    bottom: -9px;
    content: "";
    width: 28px;
    height: 2px;
    background-color: rgba(0, 204, 126, 1);;
}

.live .live_bottom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 252px;
    padding-bottom: 16px;
    /* background-color: skyblue; */
}

.live .live_bottom > a{
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 26px 16px 0 16px;
    margin-bottom: 12px;
    margin-right: 20px;
    width: 285px;
    height: 106px;
    transition: all .4s;
}

/* 设置悬停时右下边的阴影 */
.live .live_bottom > a:hover{
    color: #333;
    box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.live .live_bottom > a:nth-child(4n){
    margin-right: 0;
}

.live .live_bottom > a > .live_details{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}

.live .live_bottom > a > .live_details > img{
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.live .live_bottom > a > .live_details p:nth-of-type(1){
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 20px;
    overflow: hidden;
}

.live .live_bottom > a > .live_details p:nth-of-type(2){
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
}

.live .live_bottom > a > .live_details p:nth-of-type(2) > span{
    margin-left: 12px;
}

/* 左上角未开始标志 */
.live .live_bottom > a > p{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 18px;
    font-size: 12px;
    color: #fff;
    padding-left: 8px;
    background: rgba(175, 192, 204, 1);
    border-radius: 8px 0 30px 0;
}

.live .live_bottom > a:nth-child(-n+2) > p{
    background-color: #e2b17c;
}


/* 直播区域右侧切换按钮 */
.live .live_bottom::after{
    position: absolute;
    top: 84px;
    right: -54px;
    font-size: 45px;
    transform: rotate(90deg);
    color: #cccccc;
    content: "\e60c";
    font-family: "iconfont";
}

.live .live_right{
    position: absolute;
    top: 150px;
    right: -40px;
    width: 15px;
    height: 43px;
    background-color: transparent;
    z-index: 1;
}

.live .live_right:hover + .live_bottom::after{
    color: #999;
}



/* 推荐recommend区域 */
.recommend{
    /* background-color: pink; */
    position: relative;
}

.recommend > p{
    font-size: 24px;
    color: #333;
    font-weight: 500;
    margin-bottom: 16px;
}

.recommend > .recommend_details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 317px;
    /* background-color: skyblue; */
}

.recommend > .recommend_details .recommend_course{
    width: 224px;
    height: 297px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all .4s;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.5s;
}

/* 每个盒子的阴影区域 */
.recommend > .recommend_details .recommend_course:hover{
    box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.recommend > .recommend_details .recommend_course:nth-child(5){
    margin-right: 0;
}

/* .recommend > .recommend_details .recommend_course > div:nth-child(1){
    width: 100%;
    height: 126px;
    background: url(../uploads/recommend_1.png) no-repeat center;
    background-size: cover;
} */

.recommend > .recommend_details .recommend_course > div:nth-child(2){
    width: 100%;
    height: 167px;
    padding: 10px 12px;
    border-radius: 0 0 8px 8px;
    /* background-color: pink; */
}

.recommend > .recommend_details .recommend_course > div:nth-child(2) > div:nth-child(1){
    height: 80px;
    /* background-color: white; */
}

.recommend > .recommend_details .recommend_course > div:nth-child(2) > div:nth-child(1) > h3{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    font-family: PingFangSC-Medium, PingFangSC;
    line-height: 18px;
}

.recommend > .recommend_details .recommend_course > div:nth-child(2) > div:nth-child(1) > p{
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin-top: 6px;
    color: #666;
}

.recommend > .recommend_details .recommend_course > div:nth-child(2) > div:nth-child(2){
    line-height: 12px;
    font-size: 12px;
    color: #999;
}

.recommend > .recommend_details .recommend_course > div:nth-child(2) > div:nth-child(3){
    height: 50px;
    padding: 8px;
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    line-height: 17px;
    background-color: #f8f9fb;
    border-radius: 8px;
}

/* 右侧小按钮 */
.recommend > .recommend_details::after{
    position: absolute;
    top: 167px;
    right: -54px;
    font-size: 45px;
    transform: rotate(90deg);
    color: #cccccc;
    content: "\e60c";
    font-family: "iconfont";
}

.recommend > .recommend_details_right{
    position: absolute;
    top: 179px;
    right: -40px;
    width: 15px;
    height: 43px;
    background-color: transparent;
    z-index: 1;
}

.recommend > .recommend_details_right:hover + .recommend_details::after{
    color: #999;
}




/* 三个小指南guide区域 */
.guide{
    height: 128px;
    /* background-color: pink; */
    /* 保证wrapper的margin*/
    margin: 25px auto;
}

.guide > ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
}

.guide > ul > li{
    width: 387px;
    height: 108px;
    /* background-color: white; */
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.guide > ul > li > a{
    display: inline-block;
    /* background-color: pink; */
    height: 100%;
    width: 100%;
}

.guide > ul > li > a > img{
    width: 100%;
}




/* 课程排行ranking区域 */
.ranking{
    /* height: 550px; */
    /* background-color: pink; */
}

.ranking > p{
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 20px;
}

.ranking .ranking_details{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 496px;
    /* background-color: skyblue; */
}

.ranking .ranking_details .ranking_box{
    position: relative;
    width: 387px;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: skyblue;
}

.ranking .ranking_details .ranking_box > .box_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 16px;
    background: linear-gradient(to bottom, #fcf8ed, #fefbf5, #fff);
}

.ranking .ranking_details .ranking_box > .box_top > .box_top_name{
    margin-left: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #d1802b;
}

.ranking .ranking_details .ranking_box > .box_top > .box_top_name > span{
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
}

.ranking .ranking_details .ranking_box > .box_top > span{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #e2e2e2;
}

.ranking .ranking_details .ranking_box > .box_content{
    width: 387px;
    height: 430px;
    background-color: #fff;
}

.ranking .ranking_details .ranking_box > .box_content ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ranking .ranking_details .ranking_box > .box_content ul > li{
    position: relative;
    display: flex;
    margin-bottom: 15px;
    width: 387px;
    height: 70px;
    /* background-color: purple; */
    padding-left: 14px;
}

.ranking .ranking_details .ranking_box > .box_content ul > li:nth-child(5n){
    margin-bottom: 0;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > span{
    display: inline-block;
    color: #FA5055;
    font-size: 20px;
    font-family: Helvetica-BoldOblique, Helvetica;
    width: 20px;
    margin-right: 11px;
    margin-left: -10px;
    text-align: right;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > img{
    width: 112px;
    max-height: 70px;
    border-radius: 3px;
    margin-right: 12px;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > div > p:nth-child(1){
    width: 210px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
    margin-bottom: 3px;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > div > p:nth-child(2){
    color: #666;
    font-size: 12px;
    line-height: 16px;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > div > p:nth-child(3){
    position: absolute;
    left: 160px;
    bottom: 0;
    font-size: 12px;
    color: #999;
    line-height: 17px;
}

.ranking .ranking_details .ranking_box > .box_content ul > li > .ranking_1{
    color: #FA5055;
}
.ranking .ranking_details .ranking_box > .box_content ul > li > .ranking_2{
    color: #FF7130;
}
.ranking .ranking_details .ranking_box > .box_content ul > li > .ranking_3{
    color: #FFB425;
}
.ranking .ranking_details .ranking_box > .box_content ul > li > .ranking_4{
    color: #b8b8b8;
}
.ranking .ranking_details .ranking_box > .box_content ul > li > .ranking_5{
    color: #b8b8b8;
}

/* 每个排行盒子悬停时出现小按钮 */
.ranking .ranking_details .ranking_box > .ranking_box_right{
    visibility: hidden;
    position: absolute;
    top: 48%;
    right: 7px;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    background-color: #b2b2b2;
    border-radius: 50%;
}

.ranking .ranking_details .ranking_box > .ranking_box_right > p{
    position: absolute;
    top: -6px;
    right: 2px;
    font-family: "iconfont";
    color: #fff;
    font-size: 34px;
}

.ranking .ranking_details .ranking_box > .box_content:hover + .ranking_box_right{
    visibility: visible;
}

.ranking .ranking_details .ranking_box > .ranking_box_right:hover{
    visibility: visible;
    background-color: #666;
    cursor: pointer;
}




/* 评论review区域 */
.review{
    position: relative;
}

.review > p{
    color: #333;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin: 48px auto 20px;
    /* background-color: pink; */
}

.review > div{
    height: 242px;
    /* background-color: skyblue; */
}

.review > div > ul{
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.review > div > ul > li{
    position: relative;
    width: 285px;
    height: 194px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
    cursor: pointer;
    margin-top: 18px;
    margin-bottom: 30px;
    transition: all 0.1s;
}

/* 盒子右下侧阴影 */
.review > div > ul > li:hover{
    box-shadow: 3px 5px 8px 3px rgba(0, 0, 0, 0.1);
}

.review > div > ul > li > img{
    position: absolute;
    top: -15px;
    box-sizing: content-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
    border: 4px solid #fff;
}

.review > div > ul > li > p:nth-of-type(1){
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
    padding-left: 65px;
}

.review > div > ul > li > p:nth-of-type(2){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    height: 86px;
    color: #333;
    font-size: 14px;
}

.review > div > ul > li > p:nth-of-type(3){
    position: absolute;
    left: 14px;
    bottom: 16px;
    font-size: 12px;
    color: #53b880;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 右侧切换按钮 */
.review > div::after{
    position: absolute;
    top: 127px;
    right: -53px;
    font-size: 45px;
    transform: rotate(90deg);
    color: #cccccc;
    content: "\e60c";
    font-family: "iconfont";
}

.review .review_right{
    position: absolute;
    top: 139px;
    right: -38px;
    width: 15px;
    height: 43px;
    background-color: transparent;
    z-index: 1;
}

.review .review_right:hover + .review_details::after{
    color: #999;
}





/* 中间的content部分放到index_content.css */





/* 三个小指南guide2区域 */
.guide_2{
    margin: 25px auto;
}

/* 热门分类classify区域 */
.classify{
    height: 129px;
    margin-bottom: 56px;
    margin-top: 44px;
    /* background-color: skyblue; */
}

.classify > p{
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    color: rgb(51, 51, 51);
    margin-bottom: 8px;
}

.classify > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 88px;
    margin-left: -6px;
}

.classify > div > a{
    display: inline-block;
    width: 109px;
    height: 32px;
    margin: 12px 12px 0 0;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: rgb(51, 51, 51);
}

.classify > div > a:nth-child(10n){
    margin-right: 0;
}

.classify > div > a:hover{
    background-color: #def2e7;
    color: #00cc7e;
}


/* 用户故事story区域 */
.story{
    height: 685px;
    /* background-color: skyblue; */
}

.story > p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 33px;
    margin-bottom: 20px;
}

.story .story_top{
    position: relative;
    width: 100%;
    height: 460px;
    padding: 48px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: pink;
    background: url(../uploads/story_top_bgc.png) no-repeat, linear-gradient(90deg, rgba(81, 113, 146, 1) 0%, rgba(75, 107, 148, 1) 100%);
}

.story .story_top > .refresh{
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 4px 2px 4px 10px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
}

.story .story_top > .refresh > img{
    width: 16px;
    height: 16px;
    margin: 0 4px;
    vertical-align: bottom;
}

.story .story_top > .quotation_right{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 221px;
    height: 177px;
    background: url(../images/quotation_right.png) no-repeat 0px center;
    background-size: cover;
}

.story .story_bottom{
    height: 160px;
    background-color: pink;
    border-radius: 4px;
    background-size: cover;
    background: url(../images/story_bottom.png) no-repeat;
    overflow: hidden;
}

.story .story_bottom .story_bottom_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: all 0.4s;
}

.story .story_bottom .story_bottom_box:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.story .story_bottom .story_bottom_box > img{
    width: 36px;
    height: 36px;
}

.story .story_bottom .story_bottom_box > span{
    margin-left: 12px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color:#fff;
}

/* 内部盒子部分 */
.story .story_top .story_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 544px;
    height: 364px;
    /* background-color: pink; */
}

.story .story_top .story_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    width: 528px;
    height: 364px;
    /* background-color: pink; */
}

.story .story_top .story_left .story_box1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 172px;
    /* background-color: skyblue; */
}

.story .story_top .story_left .story_box1 > img{
    width: 52px;
    height: 52px;
    margin-right: 12px;
    border-radius: 50%;
}

.story .story_top .story_name{
    display: inline-block;
    padding-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
}

.story .story_top .story_job{
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.story .story_top .story_left .story_box1 > div >p{
    width: 480px;
    height: 137px;
    padding: 14px;
    margin-top: 12px;
    border-radius: 0 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.2);

    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.story .story_top .story_right .story_box2{
    width: 252px;
    height: 100%;
    /* background-color: skyblue; */
}

.story .story_top .story_right .story_box2 > div{
    display: flex;
}

.story .story_top .story_right .story_box2 > div > img{
    width: 52px;
    height: 52px;
    margin-right: 12px;
    border-radius: 50%;
}

/* .story .story_top .story_right .story_box2 > div > p{
    display: flex;
    flex-direction: column;
} */

.story .story_top .story_right .story_box2 > div .story_name{
    display: inline-block;
    padding-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.story .story_top .story_right .story_box2 > div .story_job{
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}

.story .story_top .story_right .story_box2 > p{
    width: 252px;
    height: 298px;
    padding: 14px;
    margin-top: 12px;
    border-radius: 0 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.2);

    color: #fff;
    font-size: 14px;
    line-height: 24px;
}





/* 教育education区域 */
.education{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    padding: 80px 0 100px 0;
}

.education > p:nth-child(1){
    height: 22px;
    /* background-color: skyblue; */
    font-size: 28px;
    color: #333;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 22px;
    margin-bottom: 65px;
}

.education > p:nth-child(2){
    width: 556px;
    margin-bottom: 56px;
    /* background-color: skyblue; */
}

.education > p:nth-child(2) > img{
    width: 556px;
}